streamlit
openai
python-dotenv
nest-asyncio
mcp
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
langchain-mcp-adapters
faiss-cpu
pymongo
instructor
pydantic
watchdog
